### Python ###
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
dist/
build/
*.egg
.python-version

### Virtual Environment ###
venv/
.venv/
env/
ENV/
env.bak/
venv.bak/
.env

### Django ###
db.sqlite3
*.log
/mediafiles/
staticfiles/
*.pot
*.mo

### Migrations ###
*/migrations/*
!*/migrations/__init__.py

### Docker ###
docker-compose.override.yml
/postgres_data/
.dockerignore

### Environment Variables ###
.env
.env.*

### IDEs ###
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.iml

### Sistema Operacional ###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Thumbs.db

### Arquivos Temporários ###
*.swp
*.bak
*.tmp
*.orig
*~
